@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/Produtos/Index">Produtos</a> | <a href="/Funcionarios/Index">Funcionários</a> </p>
</div>
